.kontainer {
  right: 0;
}

.sidenav .closebtn {
  text-align: right;
}

.formpesan {
  padding-top: 20px;
  font-family: Geometria;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.content p {
  color: #000;
}
