/* MIXINS */
@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria W04 Light.eot?") format("eot"), url("fonts/Geometria W04 Light.woff2") format("woff2"), url("fonts/Geometria W04 Light.woff") format("woff"), url("fonts/Geometria W04 Light.ttf") format("truetype"), url("fonts/Geometria W04 Light.svg#Geometria") format("svg");
}

@font-face {
  font-family: "DeValencia";
  src: url("fonts/de_valencia_beta.eot?") format("eot"), url("fonts/de_valencia_beta.woff2") format("woff2"), url("fonts/de_valencia_beta.woff") format("woff"), url("fonts/de_valencia_beta.ttf") format("truetype"), url("fonts/de_valencia_beta.svg#DeValencia") format("svg");
}

@font-face {
  font-family: "latin";
  src: url("fonts/lmromandunh10-regular.eot?") format("eot"), url("fonts/lmromandunh10-regular.woff2") format("woff2"), url("fonts/lmromandunh10-regular.woff") format("woff"), url("fonts/lmromandunh10-regular.ttf") format("truetype"), url("fonts/lmromandunh10-regular.svg#latin") format("svg");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* MENU */
.kontainer {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  margin: 20px;
  z-index: 99999;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
}

.btn-akuh {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  color: #fff;
  padding: 10px 40px 10px 40px;
  border: 1px #fff solid;
}

.btn-akuh:hover {
  background-color: #fff;
  border: 1px #000 solid;
  color: #000;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* NAV SEARCHBAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 70px;
  margin-left: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  padding: 0px 8px 8px 24px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  font-size: 70px;
  margin-top: -17px;
  margin-left: 0;
}

.sidenav .closebtn:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* PARALLAXING */
.konten__segitiga {
  width: 0;
  height: 0;
  border-top: 15vh solid transparent;
  border-left: 50vw solid #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}

.konten__segitiga2 {
  width: 0;
  height: 0;
  right: 0;
  border-bottom: 15vh solid transparent;
  border-right: 30vw solid #fff;
  position: absolute;
}

.konten__kotak {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.konten__parallax1 {
  background-image: url("http://www.casangelina.com/style/images/home/head.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.konten__parallax2 {
  background-image: url("http://www.casangelina.com/style/images/home/understated_full.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.konten__parallax2 .konten__kotak {
  position: relative;
  font-family: Geometria;
  color: #fff;
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ISI */
.divider {
  height: 1px;
  width: 30px;
  background-color: #868686;
  margin: 20px 0 20px 0;
}

.konten__container {
  height: 102vh;
  padding: 100px 0 120px 0;
}

.konten__container h1 {
  font-family: Geometria;
  font-size: 70px;
}

.konten__container .latin {
  font-family: latin;
  font-weight: lighter;
  font-size: 60px;
}

.konten__container p {
  font-family: Geometria;
  font-size: 18px;
  margin-top: 100px;
}

.konten__container--small {
  height: 30vh;
  margin-bottom: 250px;
}

.konten__container--small .latinkecil {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4px;
}

.konten__container--small .deva {
  font-family: DeValencia;
  font-size: 50px;
  letter-spacing: 7px;
  margin: -10px 0 0 -5px;
}

.konten__lifestylebg {
  background-image: url("http://www.casangelina.com/style/images/home/flowers.jpg");
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.konten__lifestyle {
  padding-bottom: 30px;
}

.konten__lifestyle .deva {
  font-family: DeValencia;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px 0 0 0;
}

.konten__lifestyle .latin {
  font-family: latin;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 4px;
}

.konten__lifestyle .fwoot {
  margin: 50px 0 40px 0;
}

.konten__4panel {
  text-align: center;
}

.konten__4panel img {
  width: 100%;
}

.konten__4panel .video {
  padding-top: 30px;
  background-color: #000;
}

.konten__4panel .video video {
  width: 100%;
}

.konten__4panel .deva {
  font-family: DeValencia;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px 0 0 0;
}

.konten__4panel .latin {
  font-family: latin;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: lowercase;
  margin-bottom: 30px;
}

.konten__4panel .geometria {
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.konten__fcltbg {
  background-image: url("http://www.casangelina.com/style/images/home/facilities.jpg");
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.konten__jurnal {
  background-color: #f4f4f4;
  text-align: center;
  padding-bottom: 80px;
}

.konten__jurnal h2 {
  font-family: latin;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 120px;
  padding-bottom: 60px;
}

.konten__jurnal .geometria {
  font-family: Geometria;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

.konten__jurnal .bawah {
  margin-top: -10px;
  text-transform: unset;
}

footer {
  background-color: #f4f4f4;
  padding: 10px;
}

footer .latin {
  margin-top: 5px;
  font-family: latin;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: lowercase;
  text-align: right;
}
