<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/detail.css">

	<title>Hello, world!</title>
</head>
<body>
	<div id="konten" class="konten">
		<div class="kontainer" @click="myFunction()">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
			<div class="container">
				<a href="#">Home</a>
				<a href="#">Pesan</a>
				<a href="#">Menu</a>
			</div>
		</div>
		<video autoplay muted loop id="myVideo">
			<source src="http://www.casangelina.com/video/ca2.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			</video>

			<div class="content">
				<div class="container">
					<h1>Pesan Kamar Hotel</h1>
					<h5>Pilih Fitur Kamar:</h5>
					<div class="row">
						<div class="col-md-3" v-for="(data, index) in fitur">
							<fitur @add="addKamar(data.id)" :id="data.id" :gambar="data.gambar" :harga="data.harga" :fasilitas="data.fasilitas"></fitur>
						</div>
					</div>
				</div>
			</div>
		<!-- <div class="konten__pezan">
			<div class="row">
				<div class="col-md-6">
					<div class="video">
						<video muted="" onclick="launch_video(this)" width="100%" playsinline="" autoplay="" loop="" __idm_id__="296672258"><source src="http://www.casangelina.com/video/ca2.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-6">
					<div class="container formpesan">
						<h1>Pesan Kamar Hotel</h1>
						<h5>Fitur Kamar:</h5>
						<div class="row">
							<div class="col-md-3" v-for="(data, index) in fitur">
								<fitur @add="addKamar(data.id)" :id="data.id" :gambar="data.gambar" :harga="data.harga" :fasilitas="data.fasilitas"></fitur>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				
			</div>
		</div> -->
		<footer>
			<div class="container">
				<p class="latin"><span style="font-family: asd">&copy;</span> Niggarethuza 2019 | all wrong reserved</p>
			</div>
		</footer>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- WOW.js -->
	<script src="js/wow.min.js"></script>
	<script type="text/javascript">
		new WOW().init();

		Vue.component('fitur',{
			props:['gambar', 'harga', 'fasilitas', 'id'],
			template:"<div class='card' @click='add'><img :src='gambar' class='card-img-top'><div class='card-body'><p class='card-text'>IDR. {{ harga }}</p></div><ul class='list-group list-group-flush'><li class='list-group-item'><p>{{ fasilitas }}</p></li></ul></div>",
			methods: {
				add() {
					this.$emit('add')
				},
			},
		});

		var konten = new Vue({
			el: "#konten",
			data: {
				isSelected: 0,
				jumlahKamar: 9,
				fitur: [
				{
					id: '1',
					gambar: 'https://static01.nyt.com/images/2019/03/24/travel/24trending-shophotels1/24trending-shophotels1-articleLarge.jpg?quality=75&auto=webp&disable=upscale',
					harga: '1.112.999',
					fasilitas: 'TV, Kamar Mandi, Kulkas, AC',
				},
				{
					id: '2',
					gambar: 'https://www.cuckooz.co.uk/uploads/pages/16/266/Online_Billy_Bolton_Simba_Cuckooz_76_Edit.jpg/cache/3cbff1dc7daddc30eaddfa2486ffab6c.jpg',
					harga: '6.424.999',
					fasilitas: 'TV, Kamar Mandi, Kulkas, AC, Catering, Console Game, Budak',
				},
				{
					id: '3',
					gambar: 'https://t-ec.bstatic.com/images/hotel/max1024x768/159/159071869.jpg',
					harga: '3.519.999',
					fasilitas: 'TV, Kamar Mandi, Kulkas, AC, Catering, Console Game',
				},
				{
					id: '4',
					gambar: 'https://thenypost.files.wordpress.com/2018/05/c6ak1r.jpg?quality=90&strip=all&w=618&h=410&crop=1',
					harga: '2.985.999',
					fasilitas: 'TV, Kamar Mandi, Kulkas, AC, Catering',
				},
				],
			},
			methods: {
				addKamar: function (id) {
					const kamar = this.fitur.find(data => data.id == id);
					if (kamar.status == 4) {
						kamar.status = 1;
						this.itSelected();
					} else {
						if (this.isSelected && this.isSelected.length === 2) {
							alert('mohon untuk tidak memilih lebih dari 2 fitur');
						} else {
							kamar.status = 4;
							this.itSelected();
						}
					}
				},
				itSelected: function () {
					const a = this.fitur.filter(x => x.status == 4);
					this.isSelected = a;
				},
				myFunction:function() {
					$('#mySidenav').css({'width':'100%'});
				},
				closeNav:function() {
					$('#mySidenav').css({'width':'0'});
				},
				confirm:function(){
					for (var i =0; i< this.isSelected.length;i++){
						this.isSelected[i].status = 2;
					};
					this.isSelected = 0;
				}
			}
		});
	</script>
</body>
</html>