<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/detail.css">
	<link rel="stylesheet" type="text/css" href="../css/menu.css">

	<title>Hello, world!</title>
</head>
<body>
	<div id="konten" class="konten">
		<div class="kontainer" @click="myFunction()">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
			<div class="container">
			</div>
		</div>
		<div class="konten__menu">
			<div class="container">
				<h1>Daftar menu yang disajikan</h1>
				<div class="row">
					<div class="col-md-3" v-for="(data, index) in menu">
						<div class="card">
							<img :src="data.strMealThumb" class="card-img-top">
							<div class="card-body">
								<p class="card-text">{{ data.strMeal }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<p class="latin"><span style="font-family: asd">&copy;</span> Niggarethuza 2019 | all wrong reserved</p>
			</div>
		</footer>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		var konten = new Vue({
			el: "#konten",
			data () {
				return {
					menu: null
				}
			},
			mounted () {
				axios
				.get('https://www.themealdb.com/api/json/v1/1/filter.php?i=chicken_breast')
				.then(response => (this.menu = response.data.meals))
			},
			methods: {
				myFunction:function() {
					$('#mySidenav').css({'width':'100%'});
				},
				closeNav:function() {
					$('#mySidenav').css({'width':'0'});
				},
			}
		});
	</script>
</body>
</html>